@import 'src/styles/mixins';

.lookup{
    border: 1px solid $glider-color-text-background;
    box-sizing: border-box;
    border-radius: 5px;
    height: 68px;
    background: #FFFFFF;
    @include _glider-font-regular18;
}

.inputField{
    height:100%;
    width:80%;
    color: $glider-color-text;
    display: inline;
    border: 0px;
}
.inputField:focus{
    box-shadow:none;
}

.inputField::placeholder {
    color: $glider-color-text-background;
}
.code{
    color: $glider-color-text-background;
    text-align: right;
    display: inline-block;
    width: 20%;
    padding-right: 16px;
}



.locationLookupPopover{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    max-width: 480px;
}
