@import 'src/styles/mixins';

.calendarContainer{
  background: $glider-color-inputfields-background;
}

.roundTrip{
  @include g-font($g-fontsize-m,$g-color-primary,$g-fontweight-light);
  padding-top: 10px;
  padding-left: 10px;
}
