@import '../../../../styles/mixins';

.lookup{
    border: 1px solid $glider-color-inputfields-border;
    color: $g-color-black;
    background-color: $glider-color-inputfields-background;
    box-sizing: border-box;
    border-radius: 8px;
    //height: 40px;

    order: 1;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loadingSpinner {
    border-width: 0.1em;
    flex-grow: 0;
    margin-right: 10px;
}

.inputField{
    width:80%;
    @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-normal);
    background-color: $glider-color-inputfields-background;
    display: inline;
    border: 0px;
    box-sizing: border-box;
    //border: 1px solid $glider-color-text-background;
    border-radius: 8px;
    padding-right: 5px;

}
.inputField:focus{
    box-shadow:none;
    color: $glider-color-inputfields-text;
    background-color: $glider-color-inputfields-background;

}

.inputField::placeholder {
    @include g-font($g-fontsize-xl,$g-color-lightgrey,$g-fontweight-normal);
}
.code{
    background-color: $glider-color-inputfields-background;
    @include g-font($g-fontsize-xl,$g-color-lightgrey,$g-fontweight-normal);
    text-align: right;
    margin-right: 10px;
}



global(.locationLookupPopover){
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    max-width: 480px;
    border:1px solid red;;
}

.pseudoFocus{
    border: 1px solid $glider-color-primary;
}

.label{
    @include g-font($g-fontsize-xs,$glider-color-text-labels,$g-fontweight-normal);
    margin-left: 4px;
}
