@import '../../../../styles/mixins';

.list {
  min-width: 280px;
  background-color: $glider-color-inputfields-background;
}

.row {
  //height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.row:hover {
  background-color: $glider-color-inputfields-background-hover;

}

.indent {
  width: 2px;
  display: inline-block;
}


.indented {
  @include g-font($g-fontsize-m, $g-color-black,$g-fontweight-normal);
}

.highlighted {
  background-color: $glider-color-inputfields-background-hover;
}

.primaryText {
  display: inline;
  @include g-font($g-fontsize-l, $g-color-black,$g-fontweight-normal);

  //truncate long names
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.primaryTextSpan{
  padding-left: 5px;
}
.secondaryText {
  display: inline;
  text-align: left;
  padding-left: 5px;
  @include g-font($g-fontsize-m, $g-color-lightgrey,$g-fontweight-normal);

  //truncate long names
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.codeText {
  display: inline;
  text-align: right;
  color: $glider-color-text-background;
  @include _glider-font-text12;
  text-transform: uppercase;
}

:global(.iconairport){
  border-top: 5px;
  background-image: url("/images/airport.svg");
  width:20px;
  height: 20px;
  display: inline-block;
  vertical-align:bottom;
}
