@import '../../../styles/mixins';

.paxSelector {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $glider-color-inputfields-border;
  background-color: $glider-color-inputfields-background;
  border-radius: 8px;
  margin: 0px 0px;
}


.paxSelectorDropdown {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: left;
  padding-left: 16px;
  box-sizing: border-box;
  @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-normal);
  background-color: $glider-color-inputfields-background;
  border:1px solid $glider-color-inputfields-border;
}

.paxSelectorContainer {
  width: 280px;
  color: $glider-color-inputfields-text;
  background-color: $glider-color-inputfields-background;
  margin: 8px 0 0 0;
}


.paxSelectorRow {
  padding-block: 8px;
}

.paxSelectorTitle {
  @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-normal);
}

.paxSelectorSubtitle {
  @include g-font($g-fontsize-xs,$g-color-lightgrey,$g-fontweight-normal);
}

.paxSelectorButtons {
  //text-align: end;
  display: flex;
  justify-content: center;
  color: $glider-color-text;
}
:global(.pax-btn-circle) {
  border-radius: 50%;
  width:22px;
  height:22px;
  margin:4px;
  border:0px;
  line-height: 1;
  padding: 0;

  > span {
    display: block;
  }
}
:global(.pax-btn-increase) {
  color: #fff;
  background-color: $glider-color-primary;
  border-color: $glider-color-primary;
}
:global(.pax-btn-decrease) {
  color: #fff;
  background-color: #BBBBBB;
  border-color: #BBBBBB;
}

.paxSelectorPaxCount {
  @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-normal);
  padding-left: 12px;
  padding-right: 12px;
  width: 32px;
  padding-top: 2px;
  text-align: center;
}

.divider{
  border-top: 1px solid #BBBBBB;
}

.radio{
   margin-top: -1px;
   vertical-align: middle;
   margin-right: 10px;
 }
.radioLabel{
  @include g-font($g-fontsize-xs,$g-color-darkgrey,$g-fontweight-normal);
  padding-top: 13px;
}


.passengerWarning {
  @include g-font($g-fontsize-xs,$g-color-darkgrey,$g-fontweight-normal);
  margin: 5px;
  padding: 10px;
}

.label{
  @include g-font($g-fontsize-xs,$glider-color-text-labels,$g-fontweight-normal);
  margin-left: 1px;
}
