@import 'src/styles/mixins';

:global(.StripeElement) {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

:global(.StripeElement--focus) {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

:global(.StripeElement--invalid) {
  border-color: #fa755a;
}

:global(.StripeElement--webkit-autofill) {
  background-color: #fefde5 !important;
}

:local(.errorMessage) {
  color: red;
}

:local(.checkoutFormRow) {
  margin-bottom: 10px;
}

:local(.priceRow) {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #42424F;

  col {
    margin-top: 10px;
  }
}

:local(.payBtnCol) {
  align-self: flex-end;
}

:local(.disclaimer) {
  margin-top: 20px;
}

// New styles

.container {
  margin-top: 20px;
}

.cardLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #202020;
}

.cardHolderInput {
  align-self: stretch;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  border-radius: 5px;
}

.payButton {
  background: #543CE2;
  border-radius: 8px;
  padding: 12px 24px;
}