@import 'src/styles/mixins';

:global(.StripeElement) {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

:global(.StripeElement--focus) {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

:global(.StripeElement--invalid) {
  border-color: #fa755a;
}

:global(.StripeElement--webkit-autofill) {
  background-color: #fefde5 !important;
}

:local(.errorMessage) {
  color: red;
}

:local(.checkoutFormRow) {
  margin-bottom: 10px;
}

:local(.priceRow) {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  h2 {
    display: inline;
  }

  col {
    margin-top: 10px;
  }
}

:local(.payBtnCol) {
  align-self: flex-end;
}

:local(.disclaimer) {
  margin-top: 20px;
  margin-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;
}