@import 'src/styles/mixins';

%status {
    height: 24px;
    width: 24px;
    margin: 5px;
    min-width: 24px;
}

.icon-status {
    &-success {
        @extend %status;
        background: url(../../../assets/circle-tick.svg) no-repeat center;
    }

    &-failed {
        @extend %status;
        background: url(../../../assets/circle-exclamation.svg) no-repeat center;
    }

    &-undefined {
        @extend %status;
        background: url(../../../assets/circle-question.svg) no-repeat center;
    }

    &-pending {
        @extend %status;
        background: url(../../../assets/circle-clock.svg) no-repeat center;
    }
}

.message-status {
    display: flex;
}

.col-status {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 8px;
}

.col-category {
    display: flex;
    align-items: center;
    text-align: center;
}

.col-thankyou {
    margin-top: 50px;
    text-align: center;
}

.header{

}

.sectionHeader{
    @include g-font($glider-font-size-xxl,$g-color-black, $g-fontweight-normal);
    padding-bottom: 20px;
    padding-top: 20px;
}

.sectionBody{
    background-color: $glider-color-primary-background;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.alertHeader{
    @include g-font($glider-font-size-xl,$g-color-primary, $g-fontweight-bold);
}

.alertBody{
    @include g-font($glider-font-size-l,$g-color-black, $g-fontweight-normal);
    padding-top:10px;
    padding-bottom:10px;
}

.colorSuccess{
    color: $g-color-primary;
}

.colorInfo{
    color: $g-color-black;
}

.colorDanger{
    color: $g-color-warning;
}
