@import '../../styles/utils';


.offer-detail--header{
    @include _glider-font-h1;
    color: $glider-color-text;
    padding-bottom: 20px;
}


.min-width-100 {
    min-width: 100px;
}

.min-width-210 {
    min-width: 210px;
}
.min-width-290{
    min-width: 290px;
}

.min-width-330{
    min-width: 330px;
}


.offer-detail--trip-logo{
    width:40px;
    margin-right: 20px;
}



.box-200{
    width: 200px;
}

.box-500{
    width: 700px;
}
