@import 'src/styles/mixins';

.flightssearchresultscontainer{
    //justify-content: center;
    //display: flex;
    //flex-direction: column;
}

.sorryNoResults{
  @include g-font($g-fontsize-xl,$g-color-warning,$g-fontweight-normal);
  padding-top: 20px;
}

.progressNote {
  @include g-font($g-fontsize-m,$g-color-black,$g-fontweight-light);
  text-align: center;

  p {
    margin-bottom: 8px;
  }
}
