@import 'src/styles/mixins';



.flights-search-results-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.flight-search-offer-container{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.flight-search-offer-container:hover {
    background-color: aliceblue;
}


.offer-highlight--itinerary-row{
    min-height: 80px;
}


.offer-highlight--column{
    min-width: 295px;
    //padding-left: 20px;
}




.offer-highlight--logos-and-ancillaries{
    //margin-top: 20px;
}

img.offer-highlight--logo {
    width:30px;
}
IMG.offer-highlight--ancillaries {

}

