@import '../../styles/utils';


.location-lookup{
    border: 1px solid $glider-color-background;
    box-sizing: border-box;
    border-radius: 5px;
    height: 68px;
    width: 280px;
    background: #FFFFFF;
    /* Normal element */

    @include glider-media-small {
        width: 560px;
    }
    @include glider-media-medium {
        width: 415px;
    }
    @include glider-media-large {
        width: 640px;
    }
    @include glider-media-xlarge {
        width: 290px;
    }
    &__input{
        height: 48px;
        padding-left: 10px;
        color: $glider-color-text;
        @include glider-font-regular-18;
        //line-height: 110%;
     }
    &__popover{
        border:1px solid black !important;
        max-width: 410px;
        &-content{
            padding: 0 !important;
            width: 400px;
        }
    }
    &__listgroup{

    }
    &__listgroup-item{
        padding: 5px !important;

        &--primary{
            width: 300px;
            display: inline;
        }
        &--secondary{
            display: inline;
            width: 50px;
            padding-left: 10px;
        }
    }
}

.location-lookup .form-control{
    height:100%;
}