@import '../../styles/utils';

.date-range {
    width: 280px;
    height: 68px;
    box-sizing: border-box;
    
    @include glider-media-small {
        width: 560px;
    }
    @include glider-media-medium {
        width: 414px;
    }
    @include glider-media-large {
        width: 640px;
    }
    @include glider-media-xlarge {
        width: 580px;
    }
    &__input {
        border: 1px solid $glider-color-background;
        color: $glider-color-text;
        @include glider-font-regular;
        border-radius: 5px;
        width:50%;
        height:100%;
        padding-left: 10px;
    }
    &__input::placeholder {
        color: $glider-color-background;
    }

}




.nice-dates-navigation{
    color: black;
}

.nice-dates-day{
    color: black
}

.nice-dates-day_date{
}

.nice-dates-popover {
    box-shadow: none;
    border: 1px solid black;
    border-radius: 2px;
    max-width: 480px;
    transition: none;
}