@import 'src/styles/mixins';

.header{
  @include _glider-font-h2;
  padding-bottom: 40px;
  padding-top: 60px;
}

.note{
  @include _glider-font-text18;
  padding-bottom: 40px;
}

.footnote{
  @include _glider-font-text16;
  padding-top: 40px;
  padding-bottom: 40px;
}

.warning{
  @include _glider-font-filtercategories13;
}