@import 'src/styles/mixins';

.paxType{
  @include _glider-font-text18;
  padding-bottom: 20px;
}

.header{
  @include _glider-font-h2;
  padding-bottom: 40px;
}

.paxDetails{
  @include _glider-font-text24medium;
  padding-bottom: 12px;
}

.paxSummaryContainer{
  margin-bottom: 60px;
}

.editPaxLink{
  @include _glider-font-regular18;
  color:$glider-color-primary;
}

.saveButton{
  padding-top: 30px;
}
