@import 'src/styles/mixins';

.paxdetails{

}


.paxdetails label{
    @include _glider-font-text12;
    color: $glider-color-text;
}

.paxdetails input::placeholder{
    color: $glider-color-text-background;
}

.paxDetailsFormRow{
    padding-bottom: 20px;
}

.label{
    @include _glider-font-regular18;
    color: $glider-color-text;
}

.header{
    @include _glider-font-text24medium;
    color: $glider-color-text;
    padding-bottom: 20px;
    padding-top:60px;
}

