@import 'src/styles/variables';

.segment-selector {
    margin: 40px 40px;

   .progress {
        height: 4px;
        background-color: #E9E9E9;
        margin: 12px 0px;
    }

    .route {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .flight-time {
        color: $glider-color-primary;
    }
}

