@import 'src/styles/mixins';


.cartContainer{
  background: $glider-color-primary-background;
  border-radius: 8px;
  padding: 20px;
}

.cartHeader{
  @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-normal)
}

.subtotalItem{
  @include g-font($g-fontsize-l,$g-color-black,$g-fontweight-normal)
}

.totalItem{
  @include g-font($g-fontsize-xl,$g-color-primary,$g-fontweight-normal)
}

.hotelItemHotelImage{
    width: 100%;
    height: 100%;
  padding: 20px;
  border-radius: 8px;
}

.hotelItemHotelName {
  @include g-font($g-fontsize-l,$g-color-black,$g-fontweight-normal)
}
.hotelItemRoomName {
  @include g-font($g-fontsize-m,$g-color-primary,$g-fontweight-normal)
}



.debugLinks{
  @include g-font($g-fontsize-xs,$g-color-black,$g-fontweight-normal);
}
