@import '../../../styles/mixins';

.addButton {
  display: flex;
  align-items: center;
}

.addButtonActive{
  @include g-font($g-fontsize-l,$g-color-primary,$g-fontweight-normal);

  &.addProgress:hover {
    background-color: transparent;
    color: $g-color-primary;
    pointer-events: none;
  }
}

.addButtonInactive{
  @include g-font($g-fontsize-l,$g-color-darkgrey,$g-fontweight-normal);
  border-color: #717171 !important;

  &.addProgress:hover {
    background-color: transparent;
    color: $g-color-darkgrey;
    pointer-events: none;
  }
}

.priceActive{
  @include g-font($g-fontsize-xl,$g-color-primary,$g-fontweight-normal);
}
.priceInactive{
  @include g-font($g-fontsize-xl,$g-color-darkgrey,$g-fontweight-normal);
}

.priceRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.priceWrapper {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.addButtonWrapper {
  padding-right: 40px;
}

.btnSpinner {
  margin-left: 8px;
}

.addIcon {
  background-image: url(../../../assets/add-to-cart.svg);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 26px;

  &:hover {
    background-image: url(../../../assets/add-to-cart-white.svg);
  }
}

.addedIcon {
  background-image: url(../../../assets/checked.svg);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center right 8px;
  padding-right: 24px;

  &:hover {
    background-image: url(../../../assets/checked-white.svg);
  }
}