@import '../../../styles/mixins';

.badge{
  @include g-font($g-fontsize-m,$g-color-black,$g-fontweight-normal);
  border-image-slice: 1;
  border-width: 5px;
  //border-color: linear-gradient(230.95deg, #A8DC3B 16.72%, rgba(59, 185, 86, 0.677083) 39.15%, rgba(77, 103, 141, 0.442708) 54.1%, rgba(159, 59, 220, 0.4) 71.86%, rgba(220, 59, 146, 0.56) 89.14%, #DC3B3B 105.97%);
  padding: 4px 8px;
  background: #F7F9FF;
  border-radius: 8px;
  align-items: center;
  padding: 4px 8px;
}



