@import '../../../styles/mixins';

.breadCrumb,
.breadCrumb :global(.breadcrumb-item) a {
  @include g-font($g-fontsize-xxl, $g-color-darkgrey, $g-fontweight-normal)
  text-decoration: revert;
}

.breadCrumb > ol {
  justify-content: center;
  background-color: revert;
}

.breadCrumb :global(li.active) {
  @include g-font($g-fontsize-xxl, $g-color-black, $g-fontweight-bold)
}

.breadCrumb :global(.breadcrumb-item) + :global(.breadcrumb-item::before) {
  content: "->";
  padding: 0 10px;
 }
