@import './variables';
/**
mixins.scss
mixins re-used in multiple other scripts
 */


//MEDIA QUERIES

// Small devices
@mixin glider-media-small_576 {
  @media (min-width: $glider-break-sm) {
    @content;
  }
}

// Medium devices
@mixin glider-media-medium_768 {
  @media (min-width: $glider-break-md) {
    @content;
  }
}

// Large devices
@mixin glider-media-large_992 {
  @media (min-width: $glider-break-lg) {
    @content;
  }
}

// Extra large devices
@mixin glider-media-xlarge_1600 {
  @media (min-width: $glider-break-xl) {
    @content;
  }
}

@mixin media-max-sm {
  @media (max-width: $glider-break-sm) {
    @content;
  }
}

@mixin media-max-md {
  @media (max-width: $glider-break-md) {
    @content;
  }
}

@mixin media-max-lg {
  @media (max-width: $glider-break-lg) {
    @content;
  }
}

@mixin media-max-xl {
  @media (max-width: $glider-break-xl) {
    @content;
  }
}


//text 12px (regular 150%)
@mixin _glider-font-text12 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-xs;
  line-height: 150%;
}
//text 14px (regular 150%)
@mixin _glider-font-text14 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-m;
  line-height: 150%;
}
//text 16px
@mixin _glider-font-text16 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-l;
  line-height: 150%;
}
//caps 12px medium
@mixin _glider-font-caps12medium {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-xs;
  line-height: 110%;
}


//filter categories 13px
@mixin _glider-font-filtercategories13 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-xs;
  line-height: 110%;
}

@mixin _glider-font-h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

@mixin _glider-font-h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $glider-font-size-xl;
  line-height: 120%;
}

@mixin _glider-font-text16 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-l;
  line-height: 150%;
}


@mixin _glider-font-regular18 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $glider-font-size-xl;
  line-height: 110%;
}

@mixin _glider-font-text18 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $glider-font-size-xl;
  line-height: 120%;
}

@mixin _glider-font-text24medium {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $glider-font-size-xl;
  line-height: 24px;
}

@mixin _glider-font-h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $glider-font-size-xl;
  //line-height: 110%;
}

$g-fontsize-xs:12px;
$g-fontsize-m:14px;
$g-fontsize-l:16px;
$g-fontsize-xl:18px;
$g-fontsize-xxl:22px;

$g-color-primary:#543CE2;
$g-color-black:#424242;
$g-color-darkgrey:#717171;
$g-color-lightgrey:#C7C7C7;
$g-color-warning:#CE613F;

$g-fontweight-normal:500;
$g-fontweight-bold:700;


@mixin g-font($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'Inter',sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}
