/**
default theme
 */

$glider-color-primary: #7161D6;
$glider-color-body-background: #F3F4F6;
$glider-color-primary-background: #ffffff;
$glider-color-primary-background-hover: aliceblue;

$glider-color-text: #202020;
$glider-color-text-background: #BBBBBB;
$glider-color-text-labels: white;
$glider-font-family-base:'Poppins', sans-serif;

$glider-color-inputfields-background: #ffffff;
$glider-color-inputfields-background-hover: aliceblue;
$glider-color-inputfields-text: #202020;
$glider-color-inputfields-text-secondary: #BBBBBB;


