@import './variables';

//MEDIA QUERIES

// Small devices
@mixin glider-media-small_576 {
  @media (min-width: $glider-break-sm) {
    @content;
  }
}

// Medium devices
@mixin glider-media-medium_768 {
  @media (min-width: $glider-break-md) {
    @content;
  }
}

// Large devices
@mixin glider-media-large_992 {
  @media (min-width: $glider-break-lg) {
    @content;
  }
}

// Larger devices
@mixin glider-media-larger_1400 {
  @media (min-width: $glider-break-ll) {
    @content;
  }
}

// Extra large devices
@mixin glider-media-xlarge_1600 {
  @media (min-width: $glider-break-xl) {
    @content;
  }
}




//text 12px (regular 150%)
@mixin _glider-font-text12 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}
.glider-font-text12-bg {
  @include _glider-font-text12;
  color: $glider-color-text-background;
}

.glider-font-text12-fg {
  @include _glider-font-text12;
  color: $glider-color-text;
}





//caps 12px medium
@mixin _glider-font-caps12medium {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
}

.glider-font-caps12medium-bg {
  @include _glider-font-caps12medium;
  color: $glider-color-text-background;
}

.glider-font-caps12medium-fg {
  @include _glider-font-caps12medium;
  color: $glider-color-text;
}


//filter categories 13px
@mixin _glider-font-filtercategories13 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 110%;
}

.glider-font-filtercategories13-bg {
  @include _glider-font-filtercategories13;
  color: $glider-color-text-background;
}

.glider-font-filtercategories13-fg {
  @include _glider-font-filtercategories13;
  color: $glider-color-text;
}



@mixin _glider-font-h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}
.glider-font-h1-bg {
  @include _glider-font-h1;
  color: $glider-color-text-background;
}

.glider-font-h1-fg {
  @include _glider-font-h1;
  color: $glider-color-text;
}


@mixin _glider-font-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.glider-font-h2-bg {
  @include _glider-font-h2;
  color: $glider-color-text-background;
}

.glider-font-h2-fg {
  @include _glider-font-h2;
  color: $glider-color-text;
}

@mixin _glider-font-text16 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}


.glider-font-text16-bg {
  @include _glider-font-text16;
  color: $glider-color-text-background;
}

.glider-font-text16-fg {
  @include _glider-font-text16;
  color: $glider-color-text;
}


.glider-font-text16-primary {
  @include _glider-font-text16;
  color: $glider-color-primary;
}


@mixin _glider-font-regular18 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 110%;
}

//regular 18 px
.glider-font-regular18-bg {
  @include _glider-font-regular18;
  color: $glider-color-text-background;
}

.glider-font-regular18-fg {
  @include _glider-font-regular18;
  color: $glider-color-text;
}

//caps 18px
.glider-font-caps18-bg {
  @include _glider-font-regular18;
  color: $glider-color-text-background;
  text-transform: uppercase;
}

.glider-font-caps18-fg {
  @include _glider-font-regular18;
  color: $glider-color-text;
  text-transform: uppercase;
}

@mixin _glider-font-text18 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.glider-font-text18medium-bg {
  @include _glider-font-text18;
  color: $glider-color-text-background;
}

.glider-font-text18medium-fg {
  @include _glider-font-text18;
  color: $glider-color-text;
}



@mixin _glider-font-text24medium {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.glider-font-text24medium-bg {
  @include _glider-font-text24medium;
  color: $glider-color-text-background;
}

.glider-font-text24medium-fg {
  @include _glider-font-text24medium;
  color: $glider-color-text;
}


@mixin _glider-font-h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  //line-height: 110%;
}

.glider-font-h3-bg {
  @include _glider-font-h3;
  color: $glider-color-text-background;
}

.glider-font-h3-fg {
  @include _glider-font-h3;
  color: $glider-color-text;
}



.uppercase{
  text-transform: uppercase;
}

.underline{
  text-decoration-line: underline;
}