@import 'src/styles/theme';
/**
variables.scss
variable definitions
 */
/*

$glider-color-primary: yellow;
$glider-color-body-background: #555555;
$glider-color-primary-background: #555555;
$glider-color-primary-background-hover: #444444;

$glider-color-text: #dcdcdc;
$glider-color-text-background: #555555;
$glider-color-text-labels: white;
$glider-font-family-base:'Poppins', sans-serif;

$glider-color-inputfields-background: pink;
$glider-color-inputfields-background-hover: blue;
$glider-color-inputfields-text: red;
$glider-color-inputfields-text-secondary: yellow;
*/


//BREAKPOINTS

// Small devices (landscape phones, 640px and up)
$glider-break-sm: 640px;

// Medium devices (tablets, 990px and up)
$glider-break-md: 990px;

// Large devices (desktops, 1440px and up)
$glider-break-lg: 1440px;

// Extra large devices (large desktops, 1920px and up)
$glider-break-xl: 1920px;



//override bootstrap variables
$primary:      $glider-color-primary ;
$font-family-base: $glider-font-family-base;
$font-size-base :1rem;
$font-size-lg: $font-size-base * 1.5;


$grid-breakpoints: (
        xs: 0,
        sm: $glider-break-sm,
        md: $glider-break-md,
        lg: $glider-break-lg,
        xl: $glider-break-xl
);


:root {
  --theme-color: #FF0000;
  --glider-color-primary: #{$glider-color-primary};
  --glider-color-body-background: #{$glider-color-body-background};
  --glider-color-primary-background: #{$glider-color-primary-background};
  --glider-color-primary-background-hover: #{$glider-color-primary-background-hover};
  --glider-color-text: #{$glider-color-text};
  --glider-color-text-background: #{$glider-color-text-background};
  --glider-color-text-labels: #{$glider-color-text-labels};
  --glider-font-family-base:#{$glider-font-family-base};
}
/*@if $theme == "default" {
  @import './theme';
}*/

