/**
themes/dark.scss
 */

$glider-color-primary: #e67c7c;
$glider-color-body-background: #555555;
$glider-color-primary-background: #555555;
$glider-color-primary-background-hover: #555555;

$glider-color-text: #BBBBBB;
$glider-color-text-background: #BBBBBB;
$glider-color-text-labels: white;
$glider-font-family-base:'Poppins', sans-serif;

$glider-color-inputfields-background: #555555;
$glider-color-inputfields-background-hover: #555555;
$glider-color-inputfields-text: #BBBBBB;
$glider-color-inputfields-text-secondary: #e67c7c;
