/**
themes/dark.scss
 */

$glider-color-primary: #7161D6;
$glider-color-body-background: #F3F4F6;
$glider-color-primary-background: #000000;
$glider-color-primary-background-hover: aliceblue;

$glider-color-text: #202020;
$glider-color-text-background: #BBBBBB;
$glider-color-text-labels: white;
$glider-font-family-base:'Poppins', sans-serif;

$glider-color-inputfields-background: pink;
$glider-color-inputfields-background-hover: blue;
$glider-color-inputfields-text: red;
$glider-color-inputfields-text-secondary: yellow;
