.MarkdownPage {
  max-width: 600px;
  margin: 20px auto;

  h1 {
    margin: 80px 0px 40px 0px; 
  }
  
  h2 {
    margin: 80px 0px 20px 0px;
  }

  h3 {
    margin: 40px 0px 20px 0px;
  }

  p {
    line-height: 32px;
  }
}
