@import 'src/styles/mixins';

/**
header.modules.scss
 */

.header{
  text-align: center;
  display: flex;
  padding-top: 45px;
  padding-bottom: 69px;

  @include glider-media-medium_768 {
    text-align: left;
    padding-top: 85px;
    padding-bottom: 95px;
    padding-left: 65px;
  }
}
.logocontainer{
}

.logo{
  width: 150px;
  margin: auto;
  //padding-left: 10px;
  @include glider-media-medium_768 {
    width: 300px;
    margin: unset;
  }
}