@import 'src/styles/mixins';


.container {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 180px;
    justify-content: center;
    background: #FFFFFF;
}
.container:hover {
    background-color: aliceblue;
}
.imagecontainer{
    height: 158px;
    @include glider-media-small_576 {
    }
    @include glider-media-medium_768 {
        height: 264px;
    }
    @include glider-media-large_992 {
    }
    @include glider-media-xlarge_1600 {
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.textblock {
}
.hotelname {
    @include _glider-font-text24medium;
    color:$glider-color-text;
    padding-bottom: 20px;
    padding-top: 20px;
}
.description {
    @include _glider-font-text12;
    color:$glider-color-text;
    padding-bottom: 20px;
}
.address {
    @include _glider-font-caps12medium;
    color:$glider-color-text-background;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.price {
    @include _glider-font-text12;
    color:$glider-color-text;
    text-align: center;
    padding-bottom: 20px;
}

