@import 'src/styles/mixins';

.travelerInfoWrapper {
  margin: 20px 0;
  padding: 20px 0;

  h2 {
    @include g-font($g-fontsize-xxl, $g-color-black, $g-fontweight-bold);
  }
}
.note{
  @include _glider-font-text18;
  color: $glider-color-text;
  padding-bottom: 40px;
}

.footnote{
  @include _glider-font-text16;
  color: $glider-color-text;
  padding-top: 40px;
  padding-bottom: 40px;
}

.warning{
  @include _glider-font-filtercategories13;
  color: $glider-color-text;
}
