@import '../../../styles/mixins';

.inputField {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $glider-color-text-background;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0px 4px;

}


.label{
  color: $glider-color-text-labels;
  font-size: 14px;
}
