@import '../../../styles/mixins';

.inputField {
  box-sizing: border-box;
  //border: 1px solid $glider-color-inputfields-border;
  background-color: $glider-color-inputfields-background;
  border-radius: 8px;
  margin: 0px 4px;

}


.label{
  @include g-font($g-fontsize-xs,$glider-color-text-labels,$g-fontweight-normal);
  margin-left: 4px;
}

.datePickerWrapper {
  > div > div > div {
    height: 40px;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px !important;
    border-color: transparent !important;
    input {
      font-family: "Inter", sans-serif;
      font-weight: 500 !important;
      font-size: 18px !important;
      padding: 6px 8px 3px 8px !important;
      text-align: center;
    }
  }
}