@import '../../../styles/mixins';

.inputField {
  width: 99%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $glider-color-inputfields-border;
  background-color: $glider-color-inputfields-background;
  border-radius: 8px;
  margin: 0px 4px;
  text-align: center;

  &:focus {
    box-shadow: none;
    border: 1px solid $glider-color-primary;
  }
}

.label{
  @include g-font($g-fontsize-xs,$glider-color-text-labels,$g-fontweight-normal);
  margin-left: 1px;
}


.datePickerWrapper {
  > div > div > div {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px !important;
    border-color: transparent !important;
    input {
      font-weight: 600 !important;
      font-size: 13.5px !important;
      padding: 8px !important;
      text-align: center;
    }
  }
}