@import 'src/styles/mixins';


.header{
  @include _glider-font-h2;

}

.itemTitle{
  @include g-font($glider-font-size-xl,$g-color-black,$g-fontweight-normal);
  padding-bottom: 22px;
  padding-top: 40px;
}

.itemName{
  @include g-font($glider-font-size-l,$g-color-black,$g-fontweight-light);
  padding-bottom: 8px;
}
.itemPrice{
  @include g-font($glider-font-size-xl,$g-color-black,$g-fontweight-normal);
  border-bottom:1px solid #BBBBBB;
  padding-bottom: 8px;
  margin-bottom: 12px;
  text-align: right;
}


.totalTitle{
  @include _glider-font-regular18;
  text-align: right;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 8px;
}
.totalPrice{
  @include _glider-font-text24medium;
  text-align: right;
}

//*************Fare fules****************

.fareRules{
}

.fareRulesText{
  @include _glider-font-text12;
  padding-top: 20px;
}

:global(div.fareRules > nav > a){
  @include _glider-font-text12;
}
:global(div.fareRules > tab-content){

}

 //*************terms and conditions****************

:global(div.termsconditions  .card-header){
  padding: 0px;
}
:global(.card-header > button){
}

.termsTitle{
  @include _glider-font-text12;
}

.termsText{
  @include _glider-font-text12;
}
