@import 'src/styles/mixins';


.itineraryContainer{
  background: $glider-color-primary-background;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 40px 40px;
  margin-bottom: 20px;
}

