@import '../../styles/utils';

.passenger-selector{
    height: 68px;
    width: 280px;
    box-sizing: border-box;
    border: 1px solid $glider-color-background;
    border-radius: 5px;

    @include glider-media-small {
        width: 560px;
    }
    @include glider-media-medium {
        width: 415px;
    }
    @include glider-media-large {
        width: 640px;
    }
    @include glider-media-xlarge {
        width: 290px;
    }
}

.passenger-selector--dropdown{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
    background: #ffffff;
    @include glider-font-regular;
    color: $glider-color-background;
}


.passenger-selector--wrapper{
    //width: 200px;
    display:flex;
    //background-color: gainsboro;

}
.passenger-selector--title{
    /*border: 1px solid blue;*/
    display:inline;
    width: 100px;
}
.passenger-selector--title strong{
}

.passenger-selector--title small{
    display: block;
}


.passenger-selector--button-decr{
    display:inline;
    /*border: 1px solid red;*/
}
.passenger-selector--button-incr{
    display:inline;
    /*border: 1px solid black;*/
}

.passenger-selector--button-decr .button-decr{
    background: black;
}

.passenger-selector--pax-count{
    display:inline;
    /*border: 1px solid red;*/
    padding-left: 5px;
    padding-right: 5px;
}

