@import 'src/styles/mixins';

.searchFormWrapper {
  margin: auto;
  //max-width: 1166px;
  @include glider-media-medium_768 {
    //text-align: left;
    //max-width: 830px;
  }

}


/*toggle buttons on top of the main page to select search type (flights or hotels)*/
.flightOrHotelToggleContainer{
  padding-left:15px;
  padding-right:15px;
}


.flightOrHotelToggle {
  padding-bottom: 40px;
  @include glider-media-medium_768 {
    width: 620px;
    padding-bottom: 100px;
  }
}

.flightOrHotelToggleBtn {
  height: 60px;
  //padding: 20px;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding-right: 0px;
  padding-left: 0px;
}

//FIXME should not be global
:global(.btn-primary) {
  color: white;
  background-color: $glider-color-primary;
  border-color: $glider-color-primary;
}


:global(.btn-primary-inactive) {
  color: white;
  border-color: white;
}


.mainPageBackground {
  background: url("/images/main_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

