@import '../styles/utils';

/*toggle buttons on top of the main page to select search type (flights or hotels)*/
.flight-or-hotel-toggle{
  @include glider-media-medium_768 {
    width: 620px;
  }
  //button
  &__btn{
    height: 60px;
  }
}
.main-page-header{
  background: url("/images/main_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}





