/*@import 'src/styles/mixins';*/

.imgmain{
    width:70%;
    display: flex;
}

.content{
    /*margin:auto;*/
    padding-top:170px;
    /*padding-left: 45px;*/
    /*padding-right: 45px;*/
}

.alignCenter{
    text-align: center;
}

.padding{
    padding-top: 170px;

}

/*
.fullHeight{
@media (max-width: 990px) {
    height: 100vh;
}
}*/
