@import '/src/styles/mixins';

.imgmain {
    width: 100%;
    display: flex;
    @include glider-media-small_576 {
        width: 80%;
    }
}

.content{
    /*margin:auto;*/
    padding-top:170px;
    /*padding-left: 45px;*/
    /*padding-right: 45px;*/
}

.alignCenter{
    text-align: center;
}

.padding{
    padding-top: 170px;

}

/*
.fullHeight{
@media (max-width: 990px) {
    height: 100vh;
}
}*/
