@import 'src/styles/utils';

.location-lookup{
    border: 1px solid $glider-color-text-background;
    box-sizing: border-box;
    border-radius: 5px;
    height: 68px;
    background: #FFFFFF;
    &__input{
        height: 48px;
        padding-left: 10px;
        color: $glider-color-text;
        @include _glider-font-regular18;
     }
    &__input::placeholder {
        color: $glider-color-text-background;
    }
    &__popover{
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 5px 5px;
        width: 100%;
        max-width: 480px;
    }


    &__item{
        //padding: 5px !important;
        height: 38px;
        border-bottom: 1px solid $glider-color-text-background;
        padding-top: 10px;



        &--primary{
            //width: 300px;
            display: inline;
            color: $glider-color-text;
            @include _glider-font-text12;
        }
        &--secondary{
            display: inline;
            text-align: right;
            //width: 50px;
            //padding-left: 10px;
            color: $glider-color-text-background;
            @include _glider-font-caps12medium;
        }
    }

    &__item:hover{
        background-color: aliceblue;
    }
}

.location-lookup .form-control{
    height:100%;
}