@import 'src/styles/utils';

.passenger-selector {
  height: 68px;
  box-sizing: border-box;
  border: 1px solid $glider-color-text-background;
  border-radius: 5px;

  &__dropdown {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
    background: #ffffff;
    @include _glider-font-regular18;
    color: $glider-color-text-background;
  }

  &__container {
    width: 280px;
  }


  &__row {
      padding-bottom: 20px;
  }

  &__title {
    @include _glider-font-text12;
    color: $glider-color-text;
  }

  &__subtitle {
    @include _glider-font-text12;
    color: $glider-color-text-background;
  }

  &__buttons {
    text-align: end;
  }

  &__pax-count {
    @include _glider-font-text12;
    color: $glider-color-text;
    padding-left: 5px;
    padding-right: 5px;
  }
}

