@import '../../styles/utils';

.flightsearch-searchbutton{
    height: 64px;

    width: 140px;
    @include glider-media-small {
        width: 280px;
    }
    @include glider-media-medium {
        width: 310px;
    }
    @include glider-media-large {
        width: 310px;
    }
    @include glider-media-xlarge {
        width: 280px;
    }

}

.flightsearch-searchbutton:disabled{
    background: white;
    color: grey;
}