@import 'src/styles/mixins';

/*toggle buttons on top of the main page to select search type (flights or hotels)*/
.main-search-form{
    width: 280px;
    @include glider-media-small_576 {
        width: 560px;
    }
    @include glider-media-medium_768 {
        width: 560px;
    }
    @include glider-media-large_992 {
        width: 830px;
    }
    @include glider-media-xlarge_1600 {
        width: 1440px;
    }
    &__btn{
        height: 60px;
    }
}


.searchbutton{

    &__container{
        @include glider-media-medium_768 {
            width: 620px;
        }
    }
    &__button{
        height: 64px;
        margin-top: 100px;
        @include glider-media-small_576 {
            width: 620px;
            margin-top: 80px;
        }
        @include glider-media-medium_768 {
            width: 620px;
        }

    }
    &__button:disabled {
        background: white;
        color: grey;
    }
}

.form-elem{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}