@import 'src/styles/mixins';

.dateRange {
    //width: 280px;
    //height: 68px;
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.formElem{
    //padding-right: 10px;
    //padding-left: 10px;
    padding-bottom: 20px;
    @include glider-media-medium_768{
        padding-right: 10px;
        padding-left: 10px;
    }
}

:global(.date-range__input){
    border: 1px solid $glider-color-text-background;
    color: $glider-color-text;
    @include _glider-font-regular18;
    border-radius: 5px;
    width:100%;
    height: 68px;
    padding: 18px 16px;
}

:global(.date-range__input:focus){
    border: 2px solid $glider-color-primary;
    border-radius: 8px;
}

:global(.date-range__input::placeholder) {
    color: $glider-color-text-background;
}

:global(.nice-dates-day.-disabled) {
    cursor: default;
    pointer-events: none;
    color: $glider-color-text-background;
}
:global(.nice-dates){
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: gray;
}


:global(.nice-dates-navigation){
    color: $glider-color-primary;
}

:global(.nice-dates-day){
    color: $glider-color-text;
    //font-weight: bold;
    @include _glider-font-text12;
}

:global(.nice-dates-day_date){
    //color: orange;
}

:global(.nice-dates-day.-outside){
    color: $glider-color-text;
}
:global(.nice-dates-day.-outside.-disabled) {
    color: $glider-color-text-background;
}
:global(.nice-dates-popover) {
    box-shadow: none;
    border: 1px solid black;
    border-radius: 2px;
    max-width: 480px;
    width:90%;
    transition: none;
}

:global(.nice-dates-day::before){
    background: $glider-color-primary;
    color: white;

}


.label{
    color: $glider-color-text-labels;
    font-size: 14px;
}
