.card {
    // Baseline
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    padding: 0px 0px;
    margin-bottom: 0px;
    color: #202020;
    border: unset;
    width: 100%;
    height: 100%;
    background: transparent;

    .card-body {
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 8px;
    }

    .icon {
        width: 27.6px;
        height: 27.6px;
        margin-right: 8px;

        // Selected
        &-selected {
            @extend .icon;
            background: url(../../assets/tick.svg), #7161D6;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 85%;
        }

        // Available
        &-available {
            @extend .icon;
            background-color: #202020;
        }

        // Occupied
        &-occupied {
            @extend .icon;
            background: url(../../assets/cross.svg), #BBBBBB;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 120%;
        }

        // Premium
        &-premium {
            @extend .icon;
            background-color: #202020;
            align-items: center;

            &:after {
                content: '';
                /* Golden dot */
                border-radius: 50%;
                background-color: #ff9d55;
                position: absolute;
                width: 6px;
                height: 6px;
                //bottom: 10px;
                //right: 10px;
                transform: translate(20px, 20px);
            }

        }
    }


}

