@import '../../../styles/mixins';

.innerPageWrapper {
  max-width: 1200px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; // prevent margin collapsing
}
