@import '../styles/utils';

.min-width-item{
  min-width: 200px;
}


.w50{
  width: 50px;
}

.w100{
  width: 100px;
}
.w300{
  width: 300px;
}

.w500{
  width: 150px;
}

.aligncenter{
  justify-content: center;
}