@import '../styles/utils';


.hotels-results{
    justify-content: center;
    display: flex;
    flex-direction: column;

    border: 1px solid red;

    min-width: 280px;
    @include glider-media-small_576 {
      min-width: 560px;
    }
    @include glider-media-medium_768 {
      min-width: 700px;
    }
    @include glider-media-large_992 {
      min-width: 830px;
    }
    @include glider-media-xlarge_1600 {
      min-min-width: 950px;
    }
  &__image{
    min-height: 70px;
    min-width: 110px;
    flex: 1 1 auto;
    @include glider-media-small_576 {
      min-width: 250px;
    }
    @include glider-media-medium_768 {
      min-width: 250px;
    }
    @include glider-media-large_992 {
      min-width: 102px;
      min-height: 121px;
    }
    @include glider-media-xlarge_1600 {
      min-width: 140px;
      min-height: 121px;
    }
  }

  }

.min-w100{
  min-width: 100px;
}