@import '../../../styles/mixins';

.container{
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

.selectorBtn{
  @include _glider-font-text24medium;
  font-size: $glider-font-size-xxl;
  padding-left: 10px;
  border: none;
  background-color: transparent;
}

.active{
  color: $glider-color-primary;
}

.inactive{
  color: $glider-color-text-background;
}
