@import '../../../styles/mixins';

.container{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.selectorBtn{
  @include g-font($g-fontsize-xxl,$g-color-primary,$g-fontweight-light);
  padding-left: 10px;
  border: none;
  background-color: transparent;
}

.active{
  color: $g-color-primary;
}

.inactive{
  color: $g-color-darkgrey;
}

.pl-3 {
  padding: 0px 0px;
}