@import 'src/styles/utils';


.hotels-search-results-wrapper{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hotel-search-offer{
    &__container {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        min-height: 180px;
        justify-content: center;
        background: #FFFFFF;
    }
    &__container:hover {
        background-color: aliceblue;
    }
    &__imagecontainer{
        height: 158px;
        @include glider-media-small_576 {
        }
        @include glider-media-medium_768 {
            height: 264px;
        }
        @include glider-media-large_992 {
        }
        @include glider-media-xlarge_1600 {
        }
    }

    &__image{
        object-fit: cover;
        width: 100%;
        height: 100%;

    }
    &__textblock {
    }
    &__hotelname {
        @include _glider-font-text24medium;
        color:$glider-color-text;
    }
    &__description {
        @include _glider-font-text16;
        color:$glider-color-text;
    }
    &__address {
        @include _glider-font-caps12medium;
        color:$glider-color-text-background;
    }

    &__price {
        @include _glider-font-text12;
        color:$glider-color-text;
        text-align: center;
    }
}

