@import 'src/styles/mixins';


.filter{
  @include _glider-font-regular18;
  color: $glider-color-text;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding:20px;
  margin-bottom: 20px;
  &__title{
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__checkbox{
    margin-bottom: 10px;
    margin-top: 10px;
    //margin-bottom: 10px;
  }
}

.input-range__track--active{
  background: $glider-color-primary;
}

.input-range__label {
  @include _glider-font-filtercategories13;
  color: $glider-color-text;
}

.input-range__label--min {
  visibility: hidden;
}

.input-range__label--max {
  visibility: hidden;
}
