@import '../../styles/utils';


.filter{
  @include _glider-font-regular18;
  color: $glider-color-text;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding:20px;
  margin-bottom: 20px;
  &__title{
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__checkbox{
    margin-bottom: 10px;
    margin-top: 10px;
    //margin-bottom: 10px;
  }
}
