@import 'src/styles/mixins';


.filter {
  @include _glider-font-regular18;
  color: $glider-color-text;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 35px;
  margin-bottom: 20px;
  @include glider-media-medium_768{
    //padding: 80px;
  }
}

.filterTitle {
  text-transform: uppercase;
  padding-bottom: 40px;
}
.filterContainer {

}


.filterCheckbox {
  margin-bottom: 10px;
  margin-top: 10px;
  //margin-bottom: 10px;
}

.inputRangeTrack--active {
  background: $glider-color-primary;
}

:global(.input-range) {
  padding-right: 20px;
}

:global(.input-range__label-container) {
  @include _glider-font-filtercategories13;
  color: $glider-color-text;
  padding-right: 20px;
}

:global(.input-range__label--min) {
  visibility: hidden;
}

:global(.input-range__label--max) {
  visibility: hidden;
}



.fastest-cheapest-wrapper{
}

label.fastest-cheapest-button{
  /*background: white;*/
  /*color: black;*/
}




/*toggle buttons on top of the main page to select search type (flights or hotelresults)*/
.fastCheapFilterContainer{
  padding-left:15px;
  padding-right:15px;
}


.fastCheapFilterToggle {
  padding-bottom: 40px;
  @include glider-media-medium_768 {
    width: 620px;
    padding-bottom: 100px;
  }
}

.fastCheapFilterToggleBtn {
  height: 60px;
  //padding: 20px;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding-right: 0px;
  padding-left: 0px;
}
