@import 'src/styles/mixins';


.filter {
  @include g-font($g-fontsize-l,$g-color-black, $g-fontweight-normal);
  background: $glider-color-primary-background;
  //box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
  @include glider-media-medium_768{
    //padding: 80px;
  }
}

.filterTitle {
  //text-transform: uppercase;
  padding-bottom: 40px;
}
.filterContainer {

}


.filterCheckbox {
  margin-bottom: 10px;
  margin-top: 10px;
  //margin-bottom: 10px;
}
