@import '../../../styles/mixins';

.explainerContainer {
    margin: 0px 0px 0px 0px;
}

.mainReasonRow {
    margin: 0px;
}

.mainReasonTitle{
    @include g-font($g-fontsize-l,$g-color-primary,$g-fontweight-normal);
    margin: 0px 12px;
}

.mainReasonDetails{
    @include g-font($g-fontsize-l,$g-color-black,$g-fontweight-normal);
    margin: 0px 12px 80px 12px;
}

.reasonRow {
    margin: 0px;
}

.reasonTitle{
    @include g-font($g-fontsize-m,$g-color-primary,$g-fontweight-normal);
    margin: 0px 12px;
}

.reasonDetails{
    @include g-font($g-fontsize-m,$g-color-black,$g-fontweight-normal);
    margin: 0px 12px 40px 12px;
}
 
