@import '../../../styles/mixins';

.arrivalNextDayWarning{
  @include g-font($g-fontsize-m,$g-color-warning,$g-fontweight-normal);
  padding-left: 30px;
  padding-bottom: 12px;
}

.itinerarySummaryWrapper {
  padding: 20px 20px 0 20px;
}

.itinerarySummaryWrapperReturn {
  padding: 0 20px 0 20px;
}