@import '../../../styles/mixins';


.itinerarySummaryWrapper {
    padding: 20px 20px 0 20px;
}

.itinerarySummaryWrapperReturn {
    padding: 0 20px 0 20px;
}
.journeyContainer{
    background:$glider-color-primary-background;
    border-radius: 8px;
    padding-bottom: 20px;
}
