.airports-component{
    width: 175px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.airports-component .airports-input {
    height: 48px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    border-radius: 0;
    /* or 267% */

    letter-spacing: 0.02em;

    color: #000000;
}


/*tooltip with airports*/
.airports-popover.popover{
    border:1px solid black !important;
    max-width: 410px;
}


.airports-popovercontent{
    padding: 0 !important;
    width: 400px;
}

/*selectable list with airports displayed in a tooltip */
.airports-list
{

}
.airports-record{
    padding: 5px !important;
}

.airports-record--primary{
    width: 300px;
    display: inline;
}

.airports-record--id{
    display: inline;
    width: 50px;
    padding-left: 10px;
}