@import 'src/styles/mixins';

.wrapper {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5E666A;
}

.iconLeft {
    margin-top: -3px;
    margin-right: 4px;
}

.iconCopy {
    margin-top: -3px;
    margin-left: 4px;
    cursor: pointer;
}

.copyTextToastWrapper {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.copyTextToast {
    text-align: center;
    padding: 6px 4px;
}