@import 'src/styles/mixins';

.mb10 {
    margin-bottom: 10px;
}

.cryptoTitle {
    display: flex;
    align-items: center;
}

.buttonLabel {
    @include _glider-font-text16;
    color: $glider-color-primary-background;
    display: flex;
    align-items: center;
}

.buttonSpinner {
    margin-left: 10px;
}

.walletAddress {
    @include _glider-font-text12;
    color: $glider-color-primary-background;
}

.tokenIcon {
    height: 18px;
    width: auto;
    margin-right: 5px;
}

.tokenLabel {
    @include _glider-font-text16;
    text-transform: capitalize;
}
