@import '../../../styles/utils';

.footer{
    background-color: #ffffff;

    &__nav{
        &-title{
            color:$glider-color-primary;
            @include _glider-font-text24medium;
            padding-bottom: 40px;
        }
        &-link{
            @include _glider-font-text16;
            color:$glider-color-text;
            padding-bottom: 20px;
        }
        &-link.disabled{
            font-weight: bold;
            @include _glider-font-text24medium;
            color:$glider-color-primary;
        }
    }
}


