@import 'src/styles/mixins';

/**
footer.modules.scss
 */

.footer {
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
}

.footerNavTitle {
  color: $glider-color-primary;
  @include _glider-font-text24medium;
  margin-bottom: 30px;
  margin-top: 40px;
}

.footerNavLink {
  //@include _glider-font-text16;
  //color: $glider-color-text;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footerNavLink.disabled {
  font-weight: bold;
  @include _glider-font-text24medium;
  color: $glider-color-primary;
}


.footerNavLink a{
  @include _glider-font-text16;
  color: $glider-color-text;
  //padding-bottom: 20px;
}

.icon{
  padding-top: 10px;
}
.logo{
  //width: 400px;
  padding-left: 15px;
}

.accreditation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
}