@import 'src/styles/mixins';


.offer-detail--header{
    @include _glider-font-h1;
    color: $glider-color-text;
    padding-bottom: 20px;
}




.offer-detail--trip-logo{
    width:40px;
    margin-right: 20px;
}



.box-200{
    width: 200px;
}

.box-500{
    width: 700px;
}


.tripheader{
    @include _glider-font-h2;
    color: $glider-color-text;
    padding-bottom: 40px;
}
.tripcontainer{
    background: $glider-color-primary-background;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px 40px;
    margin-bottom: 20px;
}



.itinHeader{
    @include _glider-font-h1;
    color: $glider-color-text;
    padding-bottom: 20px;
    padding-top: 70px;
}

.itinRoute{
    @include _glider-font-text24medium;
    color: $glider-color-text;
}
.itinDates{
    @include _glider-font-regular18;
    color: $glider-color-text-background;
    padding-top: 15px;
    display: block;
    @include glider-media-medium_768{
        display: inline;
        padding-bottom: 20px;
    }
}


.segmentContainer{
    background: $glider-color-primary-background;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    border-radius: 5px;
    margin-top:40px;

    @include glider-media-medium_768{
        padding-left: 25px;
    }

}
.segmentRow{
    min-height: 70px;
    //border: 1px solid blue;
}

.segmentDptrDate{
    @include _glider-font-text24medium;
    color:$glider-color-text;
    padding-top:20px;
}

.segmentDuration{
    @include _glider-font-text18;
    color:$glider-color-text;
    @include glider-media-medium_768 {
        //padding-top: 15px;
    }
    padding-top:20px;
}

.segmentDptrTime{
    @include _glider-font-h2;
    color:$glider-color-text;
    padding-top: 20px;
}
.segmentAirportname{
    @include _glider-font-filtercategories13;
    color:$glider-color-text;
    padding-top: 15px;
    @include glider-media-large_992 {
        padding-top: 5px;
        line-height: 5em;
    }
}
.segmentNormalText{
    @include _glider-font-filtercategories13;
    color:$glider-color-text;
    padding-top: 20px;
}

.segmentCarrierLogoContainer{
    display: inline;
}

.segmentCarrierLogoImg{
    margin-right: 20px;
    height:30px;
}

.segmentFlightInfoContainer{
    display: inline;
}

.layoverBorder{
    border-top: 1px solid #BBBBBB;
}
.layoverTitle{
    @include _glider-font-text24medium;
    color: $glider-color-primary;
    padding-top: 20px;
    padding-bottom: 20px;
}

.layoverText{
    @include _glider-font-text16;
    padding-bottom: 20px;
    color: $glider-color-text;
}
