@import 'src/styles/mixins';


.header{
  @include _glider-font-h2;

}

.itemTitle{
  @include _glider-font-text18;
  padding-bottom: 22px;
  padding-top: 40px;
}

.itemName{
  @include _glider-font-text16;
  padding-bottom: 8px;
}
.itemPrice{
  @include _glider-font-text18;
  border-bottom:1px solid #BBBBBB;
  padding-bottom: 8px;
  margin-bottom: 12px;
  text-align: right;
}


.totalTitle{
  @include _glider-font-regular18;
  text-align: right;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 8px;
}
.totalPrice{
  @include _glider-font-text24medium;
  text-align: right;
}