@import 'src/styles/mixins';

//ArrivalDeparture component
.adDate{
  @include g-font($g-fontsize-l,$g-color-black,$g-fontweight-normal)
}

.adTime{
  @include g-font($g-fontsize-xl,$g-color-black,$g-fontweight-bold)
}


.adCityName{
  @include g-font($g-fontsize-l,$g-color-black,$g-fontweight-bold)
}

.adCityCode{
  @include g-font($g-fontsize-l,$g-color-darkgrey,$g-fontweight-bold)
}

.adBox{
}
.adIcon{
  padding-right: 12px;
  display: inline-block;
  vertical-align: top;
}
:global(.icon-primary-color){
  color:$g-color-primary;
}

.adDetails{
  display: inline-block;
}
